
  <% if @cocktails.empty? %>
<!--   <p id="alert"> Seems like no cocktail matches your search. Try searching another one or<%= link_to 'create your own!', new_cocktail_path %></p>
 -->  <h3> Seems like no cocktail matches your search. Try searching another one or <%= link_to 'create your own!', new_cocktail_path %>  </h3>
      <h6> <%= link_to 'Back to All cocktails', cocktails_path %>  </h6>
    <% else %>
  <div class="cards mt-5">
      <% @cocktails.each do |cocktail| %>
      <div class="card-trip">
          <% if cocktail.photo.attached? %>
          <%= cl_image_path cocktail.photo.key, class: "card-img"  %>
          <% else %>
          <h4> no pics </h4>
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
              <p> <%= cocktail.content %></p>

         <!--  <p> <%= cocktail.reviews.count %></p> -->
              <%= pluralize cocktail.reviews.count, "Review" %>

            </div>
          </div>
      </div>
    <% end %>
  <% end %>
</div>
