<div class="container mt-5">

  <h1>Add a cocktail </h1>
  <%= simple_form_for(@cocktail) do |f| %>
  <div class="form-inputs">
  <%= f.input :name %>
  <%= f.input :content, label: "Share a short description of your cocktail" %>
  <%= f.input :photos, as: :file, input_html: {multiple: true} %>

</div>
<div class="form-actions btn btn-primary">
  <%= f.button :submit %>
</div>





<%= link_to 'Back to all Cocktails', root_path %>
</div>
<% end %>
