
<div class="cock-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 300, crop: :fit %>')">
  <h2> <%= @cocktail.name %> </h2>
</div>

<div class="container mt-5">

<!--   <p id="notice"><%= notice %></p>
 -->

  <h2> "<%= @cocktail.content %>" </h2>
  <h2> <%= @cocktail.category %> </h2>


<% if @dose.nil? %>
<h2>nothing yet</h2>
<% else %>
<%= render 'doses/dose_info' %>
<% end %>


<h2> How do you mix it? </h2>

<%= render 'doses/new' %>


<% if @review.nil? %>
<h2>no reviews yet</h2>
<% else %>
<%= render 'reviews/review_info' %>
<% end %>



<h3>Add your review </h3>
<%= render 'reviews/new_review' %>

  <%= link_to 'Back to all Cocktails', root_path %>
</div>
