
<div class="cock-banner" style="background-image: radial-gradient(circle closest-side,rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_url('bar-banner.jpg')%>)">
  <h2> <%= @cocktail.name %> </h2>
</div>

<div class="container my-5">
  <div class="row justify-content-between">
    <div class="col-6">

      <% if @dose.nil? %>
          <h2>nothing yet</h2>
        <% else %>
          <%= render 'doses/dose_info' %>
        <% end %>
        <h2> How do you mix it? </h2>
      <%= render 'doses/new' %>
    </div>
<!--   <p id="notice"><%= notice %></p>
 -->
    <div class="col-5">
      <div class="color-backdrop-2"></div>
      <div class="cocktail-pic">
        <%= cl_image_tag @cocktail.photo.key, class:" w-100" %>
      </div>
      <div class="info-cock mt-3" style="background-color: (rgba(0,0,0,0.1), rgba(0,0,0,0.3))">
          <div class="title">
            <div class="color-backdrop text-center">
            <i class="fas fa-quote-right"></i>
            <h1> <%= @cocktail.content %></h1>
          </div>
          <h2> <%= @cocktail.category %> </h2>
      </div>


    </div>
</div>

<div class="row">
  <div class="">
<% if @review.nil? %>
<h2> no reviews yet</h2>
<% else %>
<%= render 'reviews/review_info' %>
<% end %>
</div>

<div class="">

<h3>Have you tried this drink? Give us a review </h3>
<%= link_to "go review", new_cocktail_review_path(@cocktail) %>

</div>
</div>




</div>
</div>
