<div class="container my-5">
   <div class="row bg-light p-5">
      <div class="col-7 cocktail--img-col">
        <div class="">
            <%= cl_image_tag @cocktail.photo.key, height: 500, width: 600, crop: :fill, class:"d-block" %>
        </div>
      </div>
      <div class="col-4 cocktail---info-col">
        <%= render 'one_cocktail_show' %>
      </div>
   </div>

   <div class="mixes p-5 mt-5 bg-light">
     <%= render 'doses/new' %>
   </div>

   <section class="reviews--info-title mt-5">
     <h3>Reviews (<%=  @cocktail.reviews.count%>)</h3>
   </section>

   <div class="reviews-info p-5 my-3 bg-light">

<!--             <%= pluralize @cocktail.reviews.count, "Review" %>
   -->
       <section class="reviews--info-list ">
          <%= render 'reviews/review_info' %>
       </section>

       <div class="new-review">
          <hr>
                           <%= render 'reviews/new_cocktail_review' %>

       </div>
   </div>


<%= link_to 'Back to All Cocktails', cocktails_path, class: "btn btn-success" %>

</div>


